<h2>Books</h2>

<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>
  
  <p>Body</p>
  <span><%= book.body %></span>
  
  <span>
    <%= link_to "Show", book_path(book.id) %>
  </span>
  
  <span>
    <%= link_to "Edit", edit_book_path(book.id) %>
  </span>
  
  <span>
    <%= link_to "Destroy", book_path(book.id) %>
  </span>
  
<% end %>

<!-- form_with部分 -->
<%= form_with model: @book, url: books_path, method: :post do |f| %>

  <h3>New book</h3>
  <h5>Title</h5>
  <%= f.text_field :title %>
	
  <h5>Body</h5>
  <%= f.text_area :body %>
 
  <%= f.submit 'Create Book' %>
<% end %>